<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-list>
      <ion-item><strong></strong>{{contact.name}}</ion-item>
      <ion-item>Email : <Strong>{{contact.email}}</Strong></ion-item>
      <ion-item>Tél : <strong>{{contact.tel}}</strong></ion-item>
    </ion-list>
<ion-card-title>ISET Medenine</ion-card-title>
</ion-card-header>
<ion-card-content>
  <ion-img src ="{{contact.logo}}"></ion-img>
  <ion-img src ="{{contact.location}}"></ion-img>
</ion-card-content>
</ion-card>
</ion-content>
